@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 56px;
}

li {
    list-style: none;
}

.container {
    padding: 50px 0;
}

a {
    text-decoration: none;
    transition: all 300ms ease;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: rgba(100, 21, 255, 0.984);
}

html {
    scroll-behavior: smooth;
}

.blue {
    color:rgba(100, 21, 255, 0.984);
}

p {
    line-height: 1.5;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--header {
    margin-left: 16px;
    color: rgb(36, 62, 99);
    transition: color 300ms ease;
    font-weight: 700;
    font-size: 28px;
}

.nav__logo:hover .nav__logo--header{
    color: rgba(100, 21, 255, 0.984);
}

.nav__links {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
    font-weight: 700;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36, 62, 99);
    font-size: 16px;
    padding: 0 8px;
    width: calc(100% / 6);
    height: 40px;
}

.nav__link:last-child {
    background-color: rgba(100 21 255);
    color: white;
    border-radius: 24px;
}

.nav__link:last-child:hover {
    text-decoration: none;
}

/* Landing */

#landing {
    height: 70vh;
}

.landing__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.landing__img--wrapper {
    width: 60%;
}

.landing__information--header {
    font-size: 48px;
}

.landing__row {
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.landing__information--description {
    color: rgb(36, 62, 99);
    font-size: 20px;
    margin: 24px 0;
}

.landing__information--input-field {
    padding: 20px 0px 20px 32px;
    border: none;
    font-size: 14px;
    opacity: 0.5;
    border-radius: 24px;
    width: 80%;
}

.landing__information--input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 24px;
}

.landing__information--input-field:focus {
    outline: none;
}

.landing__information--para {
    margin: 40px 0 8px 0;
    font-size: 14px;
    color: rgb(160, 174, 192);
}

.landing__information--button {
    width: 160px;
    border: none;
    border-radius: 20px;
    background-color: rgba(100 21 255);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
    padding: 12px;
}

.landing__information--img {
    width: 90%;
    opacity: 0.5;
}

.landing__img--wrapper {
    width: 60%;
    display: flex;
}

.landing__img {
    width: 100%;
}

/* FEATURES */

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__header--small {
    font-size: 18px;
}

.features__header--big {
    margin: 48px 0;
    font-size: 56px;
}

.features__header--para {
    color: rgb(124 139 161);
    text-align: center;
    max-width: 550px;
    font-size: 18px;
}

.feature__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-top: 64px;
}

.feature {
    display: flex;
    width: calc(100% / 3);
    padding: 24px 8px;
    margin: 16px 0;
}

.feature__img--wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.feature__img {
    border: 2px solid lightgray;
    padding: 20px;
    border-radius: 50%;
}

.feature__description {
    padding-left: 16px;
}

.feature__description--header {
    margin-bottom: 24px;
}

.feature__description--para {
    line-height: 2;
    color:rgb(124, 139, 161);
    font-weight: 500;
    font-size: 18px;
}

/* Quality section */

.quality__row {
    margin-top: 72px;
    display: flex;
}

.quality__img--container {
    border: 1px solid rgba(160, 174, 192, 0.5);
    
    width: 50%;
}

.quality__img {
    width: 100%;
}

.quality__description {
    width: 50%;
}

.quality__description--header-small {
    font-size: 18px;
}

.quality__description--header-big {
    margin: 16px 0;
    font-size: 52px;
}

.quality__description--para {
    color: rgb(124, 139, 161);
    margin-bottom: 16px;
    font-size: 20px;
}

.quality__description--button {
    width: 140px;
    border: none;
    border-radius: 20px;
    background-color: rgba(100 21 255);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
    padding: 12px;
}

.quality__description {
    padding-right: 48px;
}


/* STEPS */

.steps__row {
    margin-top: 72px;
    display: flex;
}

.steps__img--container {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    margin-left: 64px;
}

.steps__description--header-small {
    font-size: 18px;
}

.steps__description--header-big {
    margin: 16px 0;
    font-size: 52px;
}

.steps__description {
    padding-right: 48px;
}

.steps__list--item {
    display: flex;
    margin-top: 32px;
}

.list__item--number {
    font-size: 36px;
    color:rgba(160, 174, 192, 0.8);
}

.list__item--description {
    margin-left: 24px;
    width: 320px;
}

.list__item--description-title {
    font-size: 20px;
}

.list__item--description-subtitle {
    font-size: 14px;
    margin-top: 12px;
    color: #718096;
}

/* VALUES */

.values__row {
    margin-top: 128px;
    display: flex;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__info {
    width: 50%;
    padding-right: 48px;
}

.values__header--small {
    color: #6415ff;
    font-size: 16px;
}

.values__header--big {
    font-size: 54px;
    font-weight: 900;
    color: #243e63;
    margin-top: 16px;
}

.values__para {
    color: #7c8ba1;
    font-size: 18px;
    margin-top: 32px;
}

.values__benefits {
    display: flex;
    margin-top: 32px;
}

.benefit__title {
    display: flex;
    align-items: center;
    color: #243e63;
    margin-left: 12px;
    font-size: 20px;
}

.title__image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: #9ae6b4;
    border-radius: 50%;
}

.green-background {
    background-color: #9ae6b4;
}

.red-background {
    background-color: #feb2b2;
}

.values__benefit--title {
    display: flex;
}

.values__benefit--description {
    font-size: 16px;
    margin-top: 16px;
    color: #718096;
}

.values__button {
    padding: 12px 32px;
    background-color: #6415ff;
    color: #f7fafc;
    border-radius: 9999px;
    border: none;
    margin-top: 48px;
    font-weight: 900;
    font-size: 14px;
}

/* PRICING */

#pricing {
    margin-top: 80px;
    margin-bottom: 0;
}

.pricing__header--container {
    margin-top: 40px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing__header--small {
    font-size: 16px;
    margin-bottom: 16px;
}

.pricing__header--big {
    font-size: 48px;
    color: #243e63;
}

.pricing__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
    text-align: center;
    max-width: 600px;
}

.pricing__plans--container {
    display: flex;
    justify-content: space-between;
}

.pricing__plans--container {
    display: flex;
}

.pricing__plan {
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 32px;
    width: calc(100% / 3);
    border-radius: 8px;
    position: relative;
}

.green-stripe {
    position: absolute;
    height: 8px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.red-stripe {
    position: absolute;
    height: 8px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pricing__plan--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    border: 2px solid rgb(226, 232, 240);
    border-bottom-width: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.pricing__plan--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan__button--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__header--title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(26, 32, 44);
}

.plan__header--price {
    font-size: 48px;
    font-weight: 700;
}

.plan__header--subtitle {
    color: rgb(160, 174, 192);
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 18px;
}

.plan__description--title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.pricing__plan--description {
    padding: 32px;
    border: 2px solid rgb(226, 232, 240);
}

.plan__description--info {
    color: rgb(113, 128, 150);
    margin-top: 20px;
    font-weight: 500;
}

.plan__button--container {
    padding: 32px;
    border: 2px solid rgb(226, 232, 240);
    border-top-width: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.plan__button {
    padding: 16px 32px;
    border: none;
    border-radius: 9999px;
    
    font-size: 14px;
    font-weight: 700;
    color: rgb(247, 250, 252);
    width: 70%;
}

.background__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.button__personal {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.button__business {
    background-color: white;
    color: rgb(100, 21, 255);
}

.button__enterprise {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.white {
    color: rgb(247, 250, 252);
}

.business__box {
    border: none;
}

.business__box-lines {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

/* TESTIMONIALS */

.testimonials__row {
    display: flex;
}

.testimonials__image--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    padding-left: 64px;
}

.testimonials__description--header-small {
    color: rgb(100, 21, 255);
    font-size: 16px;
    font-weight: 700;
}

.testimonials__description--header-big {
    color: rgb(36, 62, 99);
    font-size: 48px;
    margin-top: 16px;
    font-weight: 900;
}

.testimonials__description--para {
    font-size: 18px;
    color: rgb(124, 139, 161);
    font-weight: 500;
    margin-top: 24px;
}

.testimonial {
    margin-top: 40px;
}

.fa-star {
    margin-right: 4px;
}

.testimonial__title {
    margin-top: 16px;
    color: rgb(36, 62, 99);
    font-size: 20px;
}

.testimonial__description {
    margin: 16px 0 40px 0;
    color: rgb(74, 85, 104);
    font-weight: 500;
    font-size: 16px;
}

.reporter__img--wrapper {
    height: 80px;
    width: 80px;
}

.reporter__img {
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.testimonial__reporter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tesimonial__reporter--info {
    display: flex;
}

.reporter__info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
}

.reporter__info--name {
    font-size: 20px;
    color: rgb(36, 62, 99);
    font-weight: 700;
    margin-bottom: 8px;
}

.reporter__info--company {
    color: rgb(124, 139, 161);
    font-weight: 500;
}

.divider {
    border-right: 1px solid rgb(226, 232, 240);
    height: 24px;
}

.testimonial__buttons {
    display: flex;
    width: 145px;
    height: 48px;
    align-items: center;
}

.testimonial__button {
    padding: 16px;
    height: 100%;
    width: 100%;
    margin: 0 12px;
    border: none;
    border-radius: 50%;
}

/* Box above footer */

.final__row {
    background-color: #6415ff;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 64px;
    margin-top: 160px;
    margin-bottom: 160px;
}

.final__row--header {
    color: rgb(226, 232, 240);
    font-size: 30px;
    font-weight: 700;
    width: 45%;
}

.final__row--button-wrapper {
    display: flex;
    width: 45%;
    justify-content: center;
}

.final__row--button {
    margin-right: 32px;
    padding: 20px 40px;
    color: rgb(247, 250, 252);
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 700;
}

.orange-button {
    background-color: rgb(245, 101, 101);
    border: none;
}

.purple-button {
    background-color: #6415ff;
    border: 1px solid rgb(160, 174, 192);
}

/* FOOTER */

footer {
    width: 100%;
    height: 50vh;
    background-color: rgb(100, 21, 255);
}

.footer__row {
    padding-top: 64px;
}

.footer__info--wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer__info--header {
    font-size: 18px;
    font-weight: 700;
    color: rgb(247, 250, 252);
    margin-bottom: 16px;
}

.footer__info--link {
    font-size: 14px;
    color: rgb(247, 250, 252);
    font-weight: 500;
    margin-top: 12px;
}

.footer__info--link:hover {
    color: rgb(247, 250, 252);
}

.horizontal-line {
    width: 100%;
    border-top: 2px solid rgb(116, 44, 255);
    margin: 64px 0;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright__logo--wrapper {
    display: flex;
    align-items: center;
}

.copyright__logo {
    width: 32px;
    height: 32px;
}

.copyright__header {
    margin-left: 12px;
    color: rgb(226, 232, 240);
    font-size: 20px;
    font-weight: 900;
}

.copyright__description {
    color: rgb(203, 213, 224);
    font-size: 16px;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    width: 128px;
    justify-content: space-between;
}

.footer__social {
    height: 32px;
    width: 32px;
    padding: 8px;
    background-color: rgb(247, 250, 252);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}